<navbar></navbar>
<div class="container">
  <h3>Apply to be a worker here!  You will be helping people grocery shop for them relieving them of the stress of having to do it themselves! By applying to be a worker for mychois you must be polite and quick on the job!</h3>

<form ng-submit="createList.create()">
<div class="checkbox">
  <label>
    <input ng-model="createList.workerAccept" type="checkbox"> I agree to these terms and services
  </label>
</div>

<button class= "btn btn-success">Apply</button>
</form>


</div>