<navbar></navbar> 
<div class="container-fluid" id="paper">
  <div class="row">
  <h1>Available Grocery Lists to Pick Up</h1>
    <ul deleteGroceryList>
      <li ng-repeat="groceryList in grocery_list_buyer.list track by $index" ng-hide="groceryList.hide" ng-init="groceryList.hide=false">
        <a href="" ng-click="showOneList(groceryList)">
          <ul>
            <li><span class="list-owner">{{groceryList.name}} - {{groceryList.customer_name}}</span>
            <br /><span class="address">{{groceryList.customer_address}} - {{groceryList.customer_district}}</span>
            </li><br />
          </ul>
        </a>
      </li>
    </ul>
  </div>
</div>