<navbar></navbar>

<div class="container">
  <div class="row">
    <h1>Edit Profile</h1>
    <ul>
      <li>Name: {{ user.name }}</li>
      <li>Email: {{ user.email }}</li>
      <li>Phone Number: {{ user.phone_number }}</li>
      <li>Address: {{ user.address }}</li>
      <li>District: {{ user.district_name }} {{ user.district.name }}</li>
    </ul>
    <button type="button" class="btn btn-primary">Edit</button>
<!-- show below when button clicked--------- -->

    <form ng-submit="updateAccount(updateAccountForm)" role="form" ng-init="updateAccountForm = {name: null}">
      <fieldset ng-disabled="!loggedIn">
        <div>
          <label>{{ user.name }}</label>
          <input type="text" name="text" ng-model="updateAccountForm.name">
        </div>

        <button type="submit">Update your name</button>
      </fieldset>
    </form>
    
  </div>
</div>